@import "variables"

@font-face
  font-family 'my-itXiuZhen'
  src url(icomoon-font-path + '/my-itXiuZhen.eot?rvz20z')
  src url(icomoon-font-path + '/my-itXiuZhen.eot?rvz20z#iefix') format('embedded-opentype'), url(icomoon-font-path + '/my-itXiuZhen.ttf?rvz20z') format('truetype'), url(icomoon-font-path + '/my-itXiuZhen.woff?rvz20z') format('woff'), url(icomoon-font-path + '/my-itXiuZhen.svg?rvz20z#my-itXiuZhen') format('svg')
  font-weight normal
  font-style normal

[class^="icon-xz-"], [class*=" icon-xz-"]
  font-family 'my-itXiuZhen' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-xz-more
  &:before
    content icon-xz-more
.icon-xz-calendar
  &:before
    content icon-xz-calendar
.icon-xz-location
  &:before
    content icon-xz-location
.icon-xz-home
  &:before
    content icon-xz-home
.icon-xz-dropdown
  &:before
    content icon-xz-dropdown
.icon-xz-user
  &:before
    content icon-xz-user
.icon-xz-edit
  &:before
    content icon-xz-edit
.icon-xz-local
  &:before
    content icon-xz-local

