icomoon-font-path ?= "fonts"

icon-xz-more = "\e900"
icon-xz-calendar = "\e901"
icon-xz-location = "\e902"
icon-xz-home = "\e903"
icon-xz-dropdown = "\e904"
icon-xz-user = "\e905"
icon-xz-edit = "\e906"
icon-xz-local = "\e907"

